@media screen and (min-width: 480px) {

/*********************************
TWO COLUMN LAYOUT CONTACT PAGE
**********************************/
#primary {
    width: 50%;
    float: left;
}
#secondary {
    width: 40%;
    float: right;

}
/*********************************
PORTFOLIO GALLERY LAYOUT
**********************************/
#gallery li {
    width: 28.3333%;
    
}
/*********************************
ABOUT ME PAGE LAYOUT
**********************************/
.profile_picture {
    float: left;
    margin: 0 5% 80px 0;
}
}
@media screen and (min-width: 660px) {
/*********************************
HEADER LAYOUT
**********************************/ 
nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
}
#logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 0.825;
    margin-bottom: 20px;
}
    
}
@media screen and (max-width: 480px) {
input {
    display: block;
}

}
